

.hero {
    background-color: #1F2937;
    margin: -8px -8px 0px -8px;
}

header {
    display: flex;
    justify-content: space-around;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

header a {
    font-size: 18px;
    color: #E5E7EB;
    
}

.links {
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    padding-bottom: 80px;
    gap: 35px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-card-1 {
    max-width: 450px;
}

.hero-card-1 button {
    font-weight: bold;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 25px;
    border: none;
    padding: 5px 10px;
}

.hero-card-1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.shadow {
    filter: drop-shadow(15px 15px 15px black); 
}

/* Everything above this line is Hero Div CSS */
/* Below this line is Section 2 CSS */

.s2-container {
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.s2-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 1em;
}

.s2-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.s2-card {
    display: flex;
    max-width: 200px;
}

.s2-text {
    text-align: center; 
    width: 200px;
}

.small-shadow {
    filter: drop-shadow(5px 5px 10px black);
}

.center {
   text-align: center;
}

/* Section 3 Below */

.s3-container {
    background-color: #E5E7EB;
    padding: 60px 200px;
}

.s3-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.s3-name {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

/* Section 4 */

.s4-container {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6 ;
    margin: 60px 120px;
    border-radius: 10px;
}

.s4-text {
    padding: 25px 60px;
    color: white;
}

.bold {
    font-weight: 900;
}

.s4-container button {
   margin: 25px 60px;
   background-color: #3882F6;
   border-color: white;
   border-radius: 5px;
   padding: 5px 10px;
   color: white;
   border-style: ridge;
}